/**
 * Prevent margin and border from affecting element width.
 */

* {
  box-sizing: border-box;
}

/**
 * Declare root `font-size` for responsive rem scaling.
 */

html {
  font-size: 16px;
}

body {
  color: #111;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue",
    Helvetica,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

/**
 * Make images responsive.
 */

img {
  height: auto;
  max-width: 100%;
}

svg {
  max-height: 100%;
}

/**
 * Remove and reset the default spacing for appropriate elements.
 */

ol,
ul {
  list-style-position: inside;
  margin: 0;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: .5rem;
  margin-top: 0;
}

.Container {
  margin: 1rem;
}

/**
 * The `button` class is best applied to links and buttons.
 */

/**
 * 1. Inherit text color from ancestor.
 * 2. Inherit font styles from ancestor.
 * 3. Prevent button text from being selectable.
 */

.Button {
  background: transparent;
  border-color: currentcolor;
  border-style: solid;
  border-width: 1px;
  color: inherit; /* 1 */
  cursor: pointer;
  display: inline-block;
  font: inherit; /* 2 */
  margin: 0;
  padding: 0.25rem 0.75rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none; /* 3 */
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

.Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}

/**
 * Button modifier class to round corners.
 */

.Button--rounded {
  border-radius: .125rem;
}
